<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Punctuation</title>
</head>
<body>
    <h1>Remove Punctuation</h1> <br>
    <a href="/">Home</a>    <br>
    <a href="/capitalizefirst">Capitalize First</a>   <br>
    <a href="/newlineremove">New Line Remove</a>    <br>
    <a href="/spaceremove">Space Remove</a>  <br>
    <a href="/charcount">Character Count</a>

</body>
</html>